<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cooked Galeria</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/estilos.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../js/scripts.js"></script>
        <link rel="stylesheet" href="../css/lightbox.css">
    </head>
    <body onload="stickFooter()">
        <header>
            <img src="../images/cooked.png" alt="logo" width="1024" height="1024">
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Index</a></li>
                <li id="active">Galeria</li>
                <li><a href="presupuestos.html">Presupuestos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>

        <div id="gal">
            <a href="../images/noticia1.jpg" data-lightbox="noticias"><img src="../images/noticia1.jpg" alt="noticia1" width="1024" height="1024"></a>
            <a href="../images/noticia2.jpg" data-lightbox="noticias"><img src="../images/noticia2.jpg" alt="noticia2" width="1024" height="1024"></a>
            <a href="../images/noticia3.jpg" data-lightbox="noticias"><img src="../images/noticia3.jpg" alt="noticia3" width="1024" height="1024"></a>
            <a href="../images/noticia4.jpg" data-lightbox="noticias"><img src="../images/noticia4.jpg" alt="noticia4" width="1024" height="1024"></a>
            <a href="../images/noticia5.jpg" data-lightbox="noticias"><img src="../images/noticia5.jpg" alt="noticia5" width="1024" height="1024"></a>
            <a href="../images/noticia6.jpg" data-lightbox="noticias"><img src="../images/noticia6.jpg" alt="noticia6" width="1024" height="1024"></a>
            <a href="../images/noticia7.jpg" data-lightbox="noticias"><img src="../images/noticia7.jpg" alt="noticia7" width="1024" height="1024"></a>
            <a href="../images/noticia8.jpg" data-lightbox="noticias"><img src="../images/noticia8.jpg" alt="noticia8" width="1024" height="1024"></a>
        </div>





        <footer>
            <div id="feet" class="text-center"><i>Images, logos, and text are protected by appropriate copyright and trademark. Please do not copy or redistribute without written authorization<br> Av. Puerta de Hierro, s/n, Moncloa - Aravaca, 28071 Madrid</i> </div>
            <div><a href="https://x.com/sanchezcastejon/highlights?lang=es&lang=es"><img src="../images/twitter.png" alt="twitter" width="2500" height="2500"></a></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script>
    window.addEventListener('load', stickFooter);
    window.addEventListener('resize', stickFooter);
        </script>
        <script src="../js/lightbox-plus-jquery.js"></script>

    </body>
</html>