<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cooked Presupuestos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/estilos.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../js/scripts.js"></script>
    </head>
    <body onload="calcular(), stickFooter()">
        <header>
            <img src="../images/cooked.png" alt="logo" width="1024" height="1024">
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Index</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li id="active">Presupuestos</li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
         <div id="formulario" class="text-center">
         <form action="envio" method="post">
            <ul>
                <li>Nombre: <input type="text" name="nombre" pattern="[A-Za-z]{1,15}" title="Names can't contain numbers or special characters" onchange="validar()" required> </li>
                <li>Apellidos: <input type="text" name="apellidos" pattern="[A-Za-z \s]{1,40}" title="Names can't contain numbers or special characters" onchange="validar()" required> </li>
                <li>Email: <input type="email" name="email" value="@gmail.com" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" title="Not a valid email format" onchange="validar()" required>  </li>
                <li>Numero de Telefono:  <input type="tel" name="Phone" pattern="[0-9]{1,9}" onchange="validar()" required>  </li>
                <li>Plazo (en días): <input type="number" id="plazo" value="1" min="0" onchange="calcular()" required></li>
            </ul>
            <br>
            <fieldset>
                <legend>Extras:</legend>
                <input type="checkbox" name="recti" id="recti" onchange="calcular()">
                <label for="recti">Derecho de Rectificación</label>
                <input type="checkbox" name="propie" id="propie" onchange="calcular()">
                <label for="propie">Propiedad Total</label>
                <input type="checkbox" name="art" id="art" onchange="calcular()">
                <label for="art">Artistas Reales</label>
            </fieldset>
            <br>
            <select name="productos" onchange="calcular()">
                    <option value="Verdad" selected>Noticia de Verdad</option>
                    <option value="Media">Media Verdad</option>
                    <option value="Cooked">Noticia Ligeramente Cocinada</option>
                    <option value="Full">Noticia Totalmente Cocinada</option>
            </select>
            <input type="text" name="Presupuestos" id="Presupuestos" value="precio" readonly>
            <br>
            <button type="submit" id="boton">Enviar</button>
            <button type="reset">Reset</button>
         </form>
         </div>

         <footer>
            <div id="feet" class="text-center"><i>Images, logos, and text are protected by appropriate copyright and trademark. Please do not copy or redistribute without written authorization</i> </div>
            <div><a href="https://x.com/sanchezcastejon/highlights?lang=es&lang=es"><img src="../images/twitter.png" alt="twitter" width="2500" height="2500"></a></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script>
    window.addEventListener('load', stickFooter);
    window.addEventListener('resize', stickFooter);
        </script>






    </body>
</html>