<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ETGaming Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div id="header">
            <img id="logo" src="../imagenes/logo.png" alt="ETGaming" >

        <div id="body">
            </div>
            <div id="navigation">
                <ul class="menu">
                    <li><a href="../index.html">Home</a></li>
                    <li ><a href="productos.html"> Productos </a></li>
                    <li><a href="presupuestos.html" id="active"> Presupuestos</a></li>
                    <li><a href="contacto.html"> Contacto </a></li>

                </ul>
            </div>
        <div id="formulario"> <!--El contenido de la web esta en inglés para ser potencialmente reutilizable en un futuro-->
         <form action="envio" method="post">
            <ul>
                <li>Name: <input type="text" name="nombre" required></li>
                <li>Email: <input type="email" name="email" value="@gmail.com" required>  </li>
                <li>Phone Number:  <input type="tel" name="Phone" required>  </li>
                 <li>More info: <br> <textarea cols="30" rows="6" name="info" placeholder="Request more info"></textarea>  </li>
            </ul>
            <br>
            RPG system: <select name="sistema">
	            <option value="rojo">D&amp;D 5e</option>
	            <option value="azul">Pathfinder 2e</option>
            </select>
             Commission Type: <select name="type">
	            <option value="rojo">Item</option>
	            <option value="azul">Subclass</option>
                <option value="azul">Other (Fill in more info)</option>
            </select>
            <input type="checkbox" value="terminos" required> Agree to terms and conditions.
            <button type="submit">Send</button>
         </form>
        </div>
        </div>

        <div id="footnote">
            <a href="https://x.com/PF2epic">
                <img src="../imagenes/HD Twitter X New Logo PNG.jpeg" alt="Twitter" > <!--He buscado bastante y no he podido encontrar una versión del logo con fondo transparente, pero esta versión medio estilizada me parece que queda bien-->
            </a>
            <p>Images, logos, and text are protected by appropriate copyright and trademark. Please do not copy or redistribute without written authorization.</p>
            <p>Calle Imaginaria 54, 33</p>
        </div>
    </body>
</html>