<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ETGaming Productos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div id="all">
        <header>
            <img id="logo" src="../imagenes/logo.png" alt="ETGaming" width="186" height="106">
        </header>
        <div id="body">
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="../index.html">Home</a></li>
                    <li ><a href="productos.html" id="active"> Productos </a></li>
                    <li><a href="presupuestos.html"> Presupuestos</a></li>
                    <li><a href="contacto.html"> Contacto </a></li>

                </ul>
            </nav>
            <div id="gallery"> <!--Idealmente las imagenes tendrían links de compra o para más información de cada libro en particular, pero parecía más alla del ejercicio hacerlo-->
                <figure>
                    <img src="../imagenes/Portadapf2epic.png" alt="pf2epic" width="1236" height="800">
                    <figcaption> <p>Pf2epic, a guide to content beyond level 20</p></figcaption>
                </figure>
                <figure>
                    <img src="../imagenes/CHAIALOGOV1.png" alt="Chaia" width="1843" height="900">
                    <figcaption> <p>Wayfinder's guide to Chaia</p></figcaption>
                </figure>
                 <figure>
                    <img src="../imagenes/Leuthe.png" alt="Leuthe" width="895" height="594">
                    <figcaption> <p>Leuthe, Interplanetary Adventure</p></figcaption>
                </figure>
                <figure>
                    <img src="../imagenes/Earth.png" alt="Earth" width="1024" height="523">
                    <figcaption> <p>Earth's Folly, how the Earth died and how to survive yourself</p></figcaption>
                </figure>
                <figure>
                    <img src="../imagenes/Dragons.png" alt="Dragons" width="756" height="756">
                    <figcaption> <p>Dragons of the Universe</p></figcaption>
                </figure>
                <figure>
                    <img src="../imagenes/ReminaMonsters.png" alt="Remina Monsters" width="1024" height="1024">
                    <figcaption> <p>Monsters of Remina and how to fight them</p></figcaption>
                </figure>
            </div>
            </div>
            <footer>
                <a href="https://x.com/PF2epic">
                    <img src="../imagenes/HDTwitterXNewLogoPNG.jpeg" alt="Twitter" width="736" height="736"> <!--He buscado bastante y no he podido encontrar una versión del logo con fondo transparente, pero esta versión medio estilizada me parece que queda bien-->
                </a>
                <p>Images, logos, and text are protected by appropriate copyright and trademark. Please do not copy or redistribute without written authorization.</p>
                <p>Calle Imaginaria 54, 33</p>

        </footer>
    </body>

</html>
            