<!DOCTYPE html>

<html lang="english">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ETGaming Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div id="header">
            <img id="logo" src="../imagenes/logo.png" alt="ETGaming" >
        <div id="body">
            </div>
            <div id="navigation">
                <ul class="menu">
                    <li><a href="../index.html">Home</a></li>
                    <li ><a href="productos.html"> Productos </a></li>
                    <li><a href="presupuestos.html"> Presupuestos</a></li>
                    <li><a href="contacto.html" id="active"> Contacto </a></li>

                </ul>
            </div>
        <div id="contacto">
            <img src="../imagenes/Localización.png" alt="local"> <!--Obviamente esto en una versión real sería la dirección de verdad de la empresa, pero me pareció divertido hacerlo así ahora que no importa en principio-->

           <p>You may find us at the fishing hamlet close to the mouth of the Dessarin River, by emailing us to ETGaming@gmail.com or by calling us to the phone number 666 798 115</p>
        </div>
        </div>
        <div id="footnote">
            <a href="https://x.com/PF2epic">
                <img src="../imagenes/HD Twitter X New Logo PNG.jpeg" alt="Twitter"> <!--He buscado bastante y no he podido encontrar una versión del logo con fondo transparente, pero esta versión medio estilizada me parece que queda bien-->
            </a>
            <p>Images, logos, and text are protected by appropriate copyright and trademark. Please do not copy or redistribute without written authorization.</p>
            <p>Calle Imaginaria 54, 33</p>
        </div>
    </body>
</html>