<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ETGaming Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div id="header">
            <img id="logo" src="../imagenes/logo.png" alt="ETGaming">
        <div id="body">
            </div>
            <div id="navigation">
                <ul class="menu">
                    <li><a href="../index.html">Home</a></li>
                    <li ><a href="productos.html" id="active"> Productos </a></li>
                    <li><a href="presupuestos.html"> Presupuestos</a></li>
                    <li><a href="contacto.html"> Contacto </a></li>

                </ul>

            <div id="gallery"> <!--Idealmente las imagenes tendrían links de compra o para más información de cada libro en particular, pero parecía más alla del ejercicio hacerlo-->
                <figure>
                    <img src="../imagenes/Portadapf2epic.png" alt="pf2epic">
                    <figcaption> <p>Pf2epic, a guide to content beyond level 20</p></figcaption>
                </figure>
                <figure>
                    <img src="../imagenes/CHAIA LOGO V1.png" alt="Chaia">
                    <figcaption> <p>Wayfinder's guide to Chaia</p></figcaption>
                </figure>
                 <figure>
                    <img src="../imagenes/Leuthe.png" alt="Leuthe">
                    <figcaption> <p>Leuthe, Interplanetary Adventure</p></figcaption>
                </figure>
                <figure>
                    <img src="../imagenes/Earth.png" alt="Earth">
                    <figcaption> <p>Earth's Folly, how the Earth died and how to survive yourself</p></figcaption>
                </figure>
                <figure>
                    <img src="../imagenes/Dragons.png" alt="Dragons">
                    <figcaption> <p>Dragons of the Universe</p></figcaption>
                </figure>
                <figure>
                    <img src="../imagenes/ReminaMonsters.png" alt="Remina Monsters">
                    <figcaption> <p>Monsters of Remina and how to fight them</p></figcaption>
                </figure>
            </div>
            </div>
        </div>
            <div id="footnote">
                <a href="https://x.com/PF2epic">
                    <img  src="../imagenes/HD Twitter X New Logo PNG.jpeg" alt="Twitter" > <!--He buscado bastante y no he podido encontrar una versión del logo con fondo transparente, pero esta versión medio estilizada me parece que queda bien-->
                </a>
                <p>Images, logos, and text are protected by appropriate copyright and trademark. Please do not copy or redistribute without written authorization.</p>
                <p>Calle Imaginaria 54, 33</p>
            </div>
    </body>

</html>
            